<div class="row">
    <div class="col-12" style="margin:auto;">
        <h1> {{title}} </h1>
        <p> Welcome to cmjb. This is a personal website and repository of Christopher Byrne. I am a developer currently residing in the county of Essex, in the country United Kingdom.
            <br> I currently hold a degree in Computer Science and have been exposed to Computer Science and programming for a number of years. You may find my github in the link below.</p>
        <p><a href="https://github.com/cmjb/">Github </a></p>
    </div>
</div>
<hr >
<div class="row">
    <div class="col-4" style="text-align:center;">
        <h3> Mobile Application Development </h3>
        <h1><i class="fas fa-mobile-alt"></i></h1>
        <p> From Cordova to Native, I work on apps which deploy on Android, iOS and Windows.</p>
    </div>
    <div class="col-4" style="text-align:center;">
        <h3> Backend Development </h3>
        <h1><i class="fas fa-code"></i></h1>
        <p> Java, Javascript, PHP, C++, Ruby, Python, Go and Learning Rust.</p>
    </div>
    <div class="col-4" style="text-align:center;">
        <h3> Moderation </h3>
        <h1><i class="fas fa-bullhorn"></i></h1>
        <p> Moderating forums and chatrooms since 2008.</p>
    </div>
</div>

<div class="row">
    <div class="col-4" style="text-align:center;">
        <h3> AI and Machine Learning</h3>
        <h1><i class="fas fa-brain"></i></h1>
        <p> Massive interest in Machine Learning and Artificial Intelligence. Once built a brain for a robot.</p>
    </div>
    <div class="col-4" style="text-align:center;">
        <h3> Text Processing </h3>
        <h1><i class="fas fa-align-left"></i></h1>
        <p> Give me a bowl of Beautiful Soup and some Solr.</p>
    </div>
    <div class="col-4" style="text-align:center;">
        <h3> System Administration </h3>
        <h1><i class="fas fa-server"></i></h1>
         <p> Linux and BSD. Docker and rkt. It's all fun to me.</p>
    </div>
</div>